$COLOR_BLUE: #7700ff;
$COLOR_LIGHT_BLUE: #8e2bff;

header {
  background: $COLOR_BLUE;

  nav {
    justify-self: right;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        float: left;

        a {
          padding: 1.5em;
          text-transform: uppercase;
          font-size: 0.8em;

          &:hover {
            background: $COLOR_LIGHT_BLUE;
          }
        }
      }
    }
  }

  .logo {
    font-weight: bold;
  }
}
